{% extends 'base.html' %}
{% block content %}
  <main class="row">
    <h1>Add Blog Post</h1>
    <form method="POST" action="{{ url_for('add_blog_post') }}" class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
      <!-- Hidden input for user_id -->
      <input type="hidden" name="user_id" value="{{ user_id }}">

      <div class="form-group">
        <label for="blog_category">Category:</label>
        <select name="blog_category" id="blog_category" class="form-control" required>
          <option value="">Select Blog Category</option>
          <option value="Top 10s">Top 10s</option>
          <option value="John's Journeys">John's Journeys</option>
          <option value="Moments to Memories">Moments to Memories</option>
          <option value="Reviews">Reviews</option>
        </select>
      </div>
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="date">Date:</label>
        <input type="date" name="date" id="date" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="body">Body:</label>
        <textarea name="body" id="body" class="form-control" rows="5" required></textarea>
      </div>
      <div class="form-group">
        <label for="blog_type">Blog Type:</label>
        <select name="blog_type" id="blog_type" class="form-control" required>
          <option value="">Select Blog Type</option>
          <option value="draft">Draft</option>
          <option value="published">Published</option>
          <option value="private">Private</option>
        </select>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </main>
</div>
{% endblock %}