{% extends 'base.html' %}
{% block content %}
  <main class="row">
    <h1>Edit Blog Post</h1>
    <form method="POST" action="{{ url_for('edit_blog_post_instance', post_id=post['post_id']) }}" class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
      <div class="form-group">
        <label for="user_id">Select User:</label>
        <select name="user_id" id="user_id" class="form-control" required>
          <option value="">Select a User</option>
          {% for user in users %}
          <option value="{{ user['user_id'] }}" {% if user['user_id'] == post['user_id'] %}selected{% endif %}>
            {{ user['username'] }}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="blog_category">Category:</label>
        <select name="blog_category" id="blog_category" class="form-control" required>
          <option value="">Select Blog Category</option>
          <option value="Top 10s" {% if post['blog_category'] == 'Top 10s' %}selected{% endif %}>Top 10s</option>
          <option value="John's Journeys" {% if post['blog_category'] == "John's Journeys" %}selected{% endif %}>John's Journeys</option>
          <option value="Moments to Memories" {% if post['blog_category'] == 'Moments to Memories' %}selected{% endif %}>Moments to Memories</option>
          <option value="Reviews" {% if post['blog_category'] == 'Reviews' %}selected{% endif %}>Reviews</option>
        </select>
      </div>
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" class="form-control" value="{{ post['title'] }}" required>
      </div>
      <div class="form-group">
        <label for="date">Date:</label>
        <input type="date" name="date" id="date" class="form-control" value="{{ post['date'] }}" required>
      </div>
      <div class="form-group">
        <label for="body">Body:</label>
        <textarea name="body" id="body" class="form-control" rows="5" required>{{ post['body'] }}</textarea>
      </div>
      <div class="form-group">
        <label for="blog_type">Blog Type:</label>
        <select name="blog_type" id="blog_type" class="form-control" required>
          <option value="">Select Blog Type</option>
          <option value="draft" {% if post['blog_type'] == 'draft' %}selected{% endif %}>Draft</option>
          <option value="published" {% if post['blog_type'] == 'published' %}selected{% endif %}>Published</option>
          <option value="private" {% if post['blog_type'] == 'private' %}selected{% endif %}>Private</option>
        </select>
      </div>
      <button type="submit" class="btn btn-success">Update</button>
    </form>
  </main>
</div>
{% endblock %}